

// Core variables and mixins
@import "bootstrap/variables";

@import "components/vars";

 @import "bootstrap/mixins";
 @import "bootstrap/normalize";
 @import "bootstrap/grid";
 // @import "bootstrap/responsive-utilities";
 //@import "bootstrap/utilities";



@font-face{
	font-family:'HyundaiRegular';
	src:url("../fonts/HyundaiSansHead-Regular.eot");
	src:url("../fonts/HyundaiSansHead-Regular.eot?#iefix") format("embedded-opentype"),
	    url("../fonts/HyundaiSansHead-Regular.woff") format("woff"),
	    url("../fonts/HyundaiSansHead-Regular.woff2") format("woff2"),
	    url("../fonts/HyundaiSansHead-Regular.ttf") format("truetype");
	    font-weight:normal;
	    font-style:normal;
}
@font-face{
	font-family:'HyundaiMedium';
	src:url("../fonts/HyundaiSansHead-Medium.eot");
	src:url("../fonts/HyundaiSansHead-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/HyundaiSansHead-Medium.woff") format("woff"),
		url("../fonts/HyundaiSansHead-Medium.woff2") format("woff2"),
		url("../fonts/HyundaiSansHead-Medium.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'HyundaiLight';
	src:url("../fonts/HyundaiSansHead-Light.eot");
	src:url("../fonts/HyundaiSansHead-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/HyundaiSansHead-Light.woff") format("woff"),
		url("../fonts/HyundaiSansHead-Light.woff2") format("woff2"),
		url("../fonts/HyundaiSansHead-Light.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
@font-face{font-family:'HyundaiBold';
	src:url("../fonts/HyundaiSansHead-Bold.eot");
	src:url("../fonts/HyundaiSansHead-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/HyundaiSansHead-Bold.woff") format("woff"),
		url("../fonts/HyundaiSansHead-Bold.woff2") format("woff2"),
		url("../fonts/HyundaiSansHead-Bold.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}



@import "components/body";



// a[href^="http://maps.google.com/maps"]{display:none !important}
// a[href^="https://maps.google.com/maps"]{display:none !important}
// .gmnoprint a, .gmnoprint span, .gm-style-cc {
//     display:none;
// }
// .gmnoprint div {
//     background:none !important;
// }



.workarea{
	line-height: 1.4;
	h1{
		margin: 0;
		font-size: 58px;
		line-height: 64px;
		margin-bottom: 20px;
		font-family:'HyundaiMedium';
		font-weight: normal;
	}
	h2{
		margin: 0;
		font-size: 44px;
		line-height: 54px;
		margin-bottom: 18px;
		font-family:'HyundaiMedium';
		font-weight: normal;
	}
	h3{
	    margin: 0;
	    margin-bottom: 15px;
	    font-weight: normal;
	}
	p{
		margin: 0;
		margin-bottom: 20px;
	}
	video{
		max-width: 100%;
		height: auto;
		object-fit: cover;
		display: block;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"]{
		width: 100%;
		display: inline-block;
		vertical-align: middle;
		color: #000;
	}
}






.layout{
	display: table;
	table-layout: fixed;
  	height: 100%;
  	width: 100%;
}



.wrapper{
	display: table-row;
	height: 100%;
}
.container-fluid{
	max-width: 1120px;
	padding: 0;
	position: relative;
	width: 100%;
}


.page-content{
	display: table-cell;
	height: 100%;
	padding: 30px 0;
}



.page-header{
	position: relative;
	margin-bottom: 4px;
	.container-fluid{
		position: static;
	}
}

.page-header__logo{
	float: left;
    margin-top: 21px;
    width: 149px;
    height: 43px;
    background: url(../img/content/logo.png) no-repeat;
}

.page-header__links{
	float: right;
	padding-top: 22px;
	a{
		display: inline-block;
		vertical-align: middle;
		margin-right: 15px;
		width: 16px;
	    height: 16px;
	    overflow: hidden;
	    text-indent: -9999px;
		&:last-child{
			margin-right: 0;
		}
	}
}

.search-link{
	background: url(../img/content/btn_topmenu_search.png) no-repeat;
}

.share-link{
	background: url(../img/content/btn_topmenu_share.png) no-repeat;
}

.language-link{
	background: url(../img/content/btn_topmenu_language.png) no-repeat;	
}


.top-nav{
	float: left;
    padding-left: 100px;
    font-size: 14px;
}

.top-nav__list{
	margin: 0;
	padding: 0;
	list-style-type: none;
	// position: relative;
	.indicator{border-bottom: 4px solid #00aad2;position: absolute;width: 0;opacity: 0;}
}

.top-nav__item{
	display: inline-block;
	vertical-align: middle;
	margin: 0 20px;
}


.top-nav__link{
	text-decoration: none;
	display: block;
    line-height: 66px;
    color: #666;
    font-size: 16px;
    font-family: "HyundaiMedium";
    &:hover{
    	color: #000;
    }
}


.page-top{
	padding: 0 60px;
	    background-color: #e4dcd3;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.breadcrumbs{
	padding: 30px 0;
	overflow: hidden;
}
.breadcrumbs__item{
	font-size: 14px;
    line-height: 16px;
}

a.breadcrumbs__item{
	margin-right: 10px;
    padding: 0 15px 0 0;
    background: url(../img/content/bg_breadcrumb.png) no-repeat 100% 5px;
}

span.breadcrumbs__item{
	color: #00aad2;
	font-family:'HyundaiMedium';
}

.sharing{
	float: right;
	a{
		font-size: 14px;
	    line-height: 17px;
	    text-decoration: none;
	    font-family: "HyundaiMedium";
		display: inline-block;
		padding: 0 0 0 25px;
		background: url(../img/content/ico_sharing.png) no-repeat 0 0;
	}
}

.top-img{
	background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
	height: 540px;
	width: 100%;
	padding-top: 71px;
    color: #fff;
    h1{
    	margin: 0;
    	font-size: 58px;
		line-height: 64px;
		margin-bottom: 12px;
    }
}

.top-img__info{
	    font-size: 20px;
    line-height: 26px;
    max-width: 440px;
}



.page-header-search{
	display: none;
}


.page-header-select{
	display: none;
}


.subnav{
	position: absolute;
    left: 0;
    background: #fff;
    width: 100%;
    transition: all .3s ease;
    box-shadow: 0 1px 3px rgba(216,209,200,0.7);
    min-height: 0;
    border-top: 1px solid #f1f1f1;
    z-index: 5;
   	display: none;
    margin-top: 4px;
    &.active{
		.subnav__wrap{
			height: auto;
			z-index: 5;
		}
    }
    .container-fluid{
    	position: relative;
    }
}

.subnav__close{
	width: 17px;
	height: 17px;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	right: 0;
	top: 10px;
	background: url(../img/content/btn_gnb_close.png) no-repeat;

	z-index: 5;
}


.subnav__list{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.subnav__item{

}
.subnav__link{
	display: block;
    text-decoration: none;
    color: #767676;
    position: relative;
    line-height: 38px;
    &:hover{
		color: #00a1c7;
    }
}

.subnav__wrap{
	padding: 15px 0;
	height: 0;
	transition:all 0.3s ease;
	z-index: -5;
}













.page-jump{
	background: #e4dcd3;
    border-top: 1px solid #fff;
    padding: 60px 0;
    overflow: hidden;
}
.page-jump__item{
	font-size: 30px;
    line-height: 40px;
    color: #000;
    font-family: "HyundaiMedium";
    vertical-align: middle;
    position: relative;
}
.page-jump__item--right{
	float: right;
	padding-right: 25px;
	&:after{
		display: block;
		content: "";
		position: absolute;
		top: 10px;
    	right: 0;
		width: 13px;
		height: 21px;
		background: url(../img/content/bg_navijump.gif) no-repeat 0 100%;
	}
}

.page-footer{
	background: #1c1b1b;
	padding: 58px 0;
	overflow: hidden;
	.container-fluid{
		position: relative;
		padding-left: 120px;
	}
}
.page-footer__logo{
	width: 60px;
	height: 32px;
	background: url(../img/content/f-logo.png) no-repeat;
	position: absolute;
	left: 0;
	top: 0;
}


.socials{
	float: right;
	overflow: hidden;
	margin-top: -35px;
}

.socials__item{
	float: left;
	margin-right: 17px;
	display: block;
	width: 28px;
    height: 22px;
	&:last-child{
		margin-right: 0;
	}
	&.fb{
		background: url(../img/content/sns_share_pc.png) 0 0 no-repeat;
	}
	&.youtube{
		background: url(../img/content/sns_share_pc.png) -45px 0 no-repeat;	
	}
	&.google{
		background: url(../img/content/sns_share_pc.png) -90px 0 no-repeat;
	}

	&.tw{
		background: url(../img/content/sns_share_pc.png) -135px 0 no-repeat;
	}
	&.inst{
		background: url(../img/content/sns_share_pc.png) -180px 0 no-repeat;
	}
}

.page-footer__menu{
	overflow: hidden;
	margin-bottom: 15px;
}

.page-footer__item{
	float: left;
	padding-right: 18px;
	margin-right: 15px;
	color: #999;
    font-size: 14px;
    position: relative;
    &:hover{
    	text-decoration: underline;
    }
    &:first-child{
    	&:after{
    		display: none;
    	}
    }
    &:last-child{
    	padding-right: 0;
    	margin-right: 0;
    }
    &:after{
		display: block;
		content: '';
		position: absolute;
		left: -16px;
		top: 4px;
		width: 1px;
		height: 9px;
		background: #333232;
    }
}

.copyright{
	overflow: hidden;
	color: #5f5f5f;
    font-size: 12px;
    line-height: 1;
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {

}


//MEDIA
@media screen and (max-width: 1280px){
	.top-img {
	    padding-left: 30px;
	}
}
@media screen and (max-width: 1200px){
	.container-fluid{
	    padding: 0 20px;
	}
	.page-top{
		padding: 0;
	}
	.top-img {
		padding-left: 0;
	}
	.top-nav {
	    padding-left: 50px;
	}
	.page-footer__logo {
	    left: 20px;
	}
}


@media screen and (max-width: 1100px){
	.top-nav__item {
	    margin: 0 10px;
	}
}

@media screen and (max-width: 1000px){
	.page-footer__item {
	    padding-right: 8px;
	    margin-right: 8px;
	    &:after{
			left: -8px;
	    }
	}
	.top-nav {
	    padding-left: 15px;
	}
	.top-nav__link {
	    font-size: 14px;
	}
}


@media screen and (max-width: 900px){
	.top-nav__item {
	    margin: 0 5px;
	}
	.socials__item {
	    margin-right: 7px;
	}
	.page-footer .container-fluid {
	    padding-left: 100px;
	}
	.page-header__links a {
	    margin-right: 10px;
	}
}

@media screen and (max-width: 800px){
	.copyright{
		margin-left: 0;
		text-align: center;
	}
	.page-footer__logo {
	    position: static;
	    display: block;
	    width: 100%;
	    background-position: center;
	    margin-bottom: 20px;
	}
	.page-footer .container-fluid {
	    padding-left: 20px;
	}
	.socials{
		margin-top: 0;
		float: none;
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}
	.socials__item {
	    float: none;
	    display: inline-block;
	    vertical-align: middle;
	}
	.page-footer__menu {
	    margin-bottom: 20px;
	}
	.page-footer__item{
		display: inline-block;
		width: 50%;
		margin-right: -4px;
		margin-bottom: 10px;
		&:after{
			display: none;
		}
	}
	.page-footer {
	    padding: 35px 0;
	}
	.page-header__logo {
	    margin-top: 24px;
	    width: 105px;
	    height: 17px;
	    background: url(../img/content/logo.png) center no-repeat;
	    background-size: 100% 100%;
	}
}


@media screen and (max-width: 768px){
	.top-img h1{
	    font-size: 30px;
	    line-height: 35px;
	}
	.top-img__info{
	    font-size: 14px;
	    line-height: 19px;
	}
	.breadcrumbs{
		display: none;
	}
	.top-nav{
		display: none;
	}
	.page-header {
	    margin-bottom: 15px;
	}
	.page-header__logo {
	    margin-top: 17px;
	}
	.page-header__links {
	    padding-top: 15px;
	}
	.page-header__links .share-link{
		display: none;
	}
	.page-header__links .language-link{
		display: none;
	}
	.page-jump__item {
	    font-size: 15px;
	    line-height: 20px;
	}
	.page-jump {
	    padding: 25px 0;
	}
	.page-jump__item--right:after {
	    top: 2px;
	    width: 9px;
	    height: 16px;
	    background-size: cover;
	}
}